<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
     <div id="app">
        {{name}} 
        <br>
        <button @click="sub()">เปลี่ยนไฟ</button>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                code: [{ id: 0, color: 'green' }, { id: 1, color: 'yellow' }, { id: 2, color: 'red' }],
                id: 0,
                name: 'green'
            },
            methods: {
                sub: function () {
                    if (this.id <=1) {
                        this.id = 1+this.id 
                        this.name = this.code[this.id].color
                    }else{
                        this.id = 2-this.id
                        this.name = this.code[this.id].color
                    }},
            },
            computed: {
            }
        });
    </script>
</body>

</html>
